*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background: url(../Pictures/pura-luhur-uluwatu-bali_169.jpeg) top/cover no-repeat;
    color: white;
    text-align: center;
    padding: 3rem 0;
    position: relative;
}
header::before {
    content:'' ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
header h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
nav {
    background-color: deepskyblue;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.menu {
    list-style-type: none;
    display: flex;
}
.menu li {
    margin: 0 1rem;

}
.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in;
}
.menu li a:hover {
    color: #ffcc00;
}
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.Destination {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
.Destination h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    width: 100%;
}
.Destination-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 0.5rem;
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease;
}
.Destination-item:hover {
    transform: scale(1.1);
}
.Destination-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.Destination-item h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.Destination-item p {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.Destination-item button {
    background-color: #ffcc00;
    color: #f4f4f4;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.Destination-item button:hover {
    background-color: #555;
}

#Contact {
    background: #ffcc00;
    
}
.mina {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    padding: 20px 0px;
}
.list {
    width: 25%;
    align-items: center;
    color: #ffcc00;
}
.list h4 {
    font-size: 21px;
    color: white;
    margin-bottom: 30px;
    position: relative;
}

.list ul li:not(:last-child){
    margin-bottom: 16px;

}
.list ul li a{
    color: #ffffffbf;
    font-size: var(--p-font);
    display: block;
    transition: .3s;
}
.list ul li a:hover{
    color: #f4f4f4;
    transform: translateX(14px);
}
.social a{
    height: 40px;
    width: 40px;
    background: #f4f4f4;
    color: #ffcc00;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}
.social a:hover{
    transform: scale(1.1);

}
.end-text {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
    
}
.end-text p {
    color: white;
    font-size: 14px;
    letter-spacing: 2px;

}
@media (max-width:1400px){
    header{
        padding: 170px 3%;
        transition: .2s;
    }
    header.navbar{
        padding: 10px 3%;
        transition: .2s;
    }
    section{
        padding: 80px 3%;
        transition: .2s;
    }
}
